#clientes{
    padding: 150px 0;
    .holder{
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;
        .container-fluid{
            h4{
                width: 602px;
                height: 82px;
                margin: 0 auto;
                text-align: center;
                font-family: "OpenSans-Bold";
                font-size: 30px;
                color: #172E52;
            }
            .row{
                margin-top: 106px;
                display: flex;
                justify-content: space-around;
            }
        }
    }
}
@media (max-width: 767px){
    #clientes{
        padding: 150px 0;
        .holder{
            padding: 0 30px;
            .container-fluid{
                h4{
                    width: 100%;
                    height: 123px;
                }
                .row{
                    margin-top: 106px;
                    display: flex;
                    justify-content: space-around;
                    div{
                        img{
                            width: 83px !important;
                            height: 44px !important;
                        }
                    }
                }
            }
        }
    }
}