#tarjetas{
    position: relative;
    .holder{
        max-width: 1300px;
        width: 100%;
        margin: 48.5px auto 30.5px auto;
        .container-fluid{
            h2{
                width: 512px;
                height: 68px;
                font-family: "OpenSans-Bold";
                font-size: 25px;
                color: #172E52;
                text-align: center;
                margin: 0 auto 26px auto;
            }
            .tarjetas{
                display: flex;
                .tarjeta{
                    max-width: 33.33%;
                    width: 376px;
                    margin: 0 auto;
                    .imagen{
                        position: relative;
                        height: 228px;
                        box-shadow: 10px 10px 19px -1px rgba(0,0,0,0.75);
                        -webkit-box-shadow: 10px 10px 19px -1px rgba(0,0,0,0.75);
                        -moz-box-shadow: 10px 10px 19px -1px rgba(0,0,0,0.75);
                        img{
                            position: relative !important;
                        }
                    }
                    .title{
                        margin-top: 34px;
                        h3{
                            width: 274px;
                            height: 54px;
                            font-family: "OpenSans-Bold";
                            font-size: 20px;
                            color: #0DB4E6;
                        }
                    }
                    .description{
                        margin-top: 38px;
                        padding-left: 18px;
                        &::before{
                            content: "";
                            width: 2px;
                            height: 32.82px;
                            position: absolute;
                            margin-left: -18px;
                            bottom: 77px; // If you want to set a smaller height and center it, change this value

                            background-color: #0DB4E6;
                        }
                        p{
                            font-family: "OpenSans-Regular";
                            font-size: 16px;
                            color: #172E52;
                            span{
                                font-family: "OpenSans-Bold"; 
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 767px){
    #tarjetas{
        .holder{
            margin: 33px auto 30.5px auto;
            .container-fluid{
                h2{
                    width: 100%;
                    height: 60px;
                    font-size: 22px;
                    margin: 0 auto 112px auto;
                    padding: 0 30px;
                }
                .tarjetas{
                    display: block;
                    padding: 0 30px;
                    .tarjeta{
                        max-width: 100%;
                        width: 100%;
                        .description{
                            margin-top: 38px;
                            padding-left: 0px;
                            margin-bottom: 38px;
                            &::before{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}