#contacto{
    width: 100%;
    height: 1228px;
    background-image: url('./../../../../../packages/ui/imagenes/Desktop/Img-10.jpg');
    padding: 128px 0 53px 0;
    overflow: hidden;
    .holder{
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;
        .container-fluid{
            padding: 0 15px;
            .title{
                max-width: 486px;
                width: 100%;
                h4{
                    font-family: "OpenSans-Bold";
                    font-size: 35px;
                    color: #FFFFFF;
                    margin-bottom: 42px;
                    letter-spacing: 1px;
                }
            }
            .row{
                display: flex;
                .form{
                    max-width: 59%;
                    width: 100%;
                    .row-form{
                        display: flex;
                        .form-control-custom{
                            &:first-child{
                                margin-left: 0px;
                            }
                            margin-right: 24.25px;
                            margin-left: 24.5px;
                            margin-top: 25.5px;
                            margin-bottom: 25.5px;
                            label{
                                display: block;
                                color: #FFFFFF;
                                font-family: "Montserrat-Regular";
                                font-size: 15px;
                                margin-bottom: 6px;
                            }
                            input{
                                width: 350px;
                                height: 28px;
                                background: transparent;
                                border-bottom: 1px solid #04BEFE;
                                border-right: 1px solid #04BEFE;
                                border-top: none;
                                border-left: none;
                                color: #FFFFFF;
                                font-family: "Montserrat-Regular";
                                font-size: 15px;
                                &:focus-visible{
                                    border: none;
                                    outline: none;
                                    border-bottom: 1px solid #04BEFE;
                                    border-right: 1px solid #04BEFE;
                                    border-top: none;
                                    border-left: none;
                                }
                                &.isError{
                                    border-bottom: 1px solid #FB6720;
                                    border-right: 1px solid #FB6720;
                                    transition: all .5s ease-in-out;
                                }
                            }
                            select{
                                width: 350px;
                                height: 28px;
                                background: transparent;
                                border-bottom: 1px solid #04BEFE;
                                border-right: 1px solid #04BEFE;
                                border-top: none;
                                border-left: none;
                                color: #FFFFFF;
                                font-family: "Montserrat-Regular";
                                font-size: 15px;
                                &:focus-visible{
                                    border: none;
                                    outline: none;
                                    border-bottom: 1px solid #04BEFE;
                                    border-right: 1px solid #04BEFE;
                                    border-top: none;
                                    border-left: none;
                                }
                                option{
                                    color: #172E52;
                                    font-family: "OpenSans-Bold";
                                    font-size: 16px;

                                }
                                &.isError{
                                    border-bottom: 1px solid #FB6720;
                                    border-right: 1px solid #FB6720;
                                    transition: all .5s ease-in-out;
                                }
                            }
                            textarea{
                                width: 750px;
                                height: 138px;
                                background: transparent;
                                border-bottom: 1px solid #04BEFE;
                                border-right: 1px solid #04BEFE;
                                border-top: none;
                                border-left: none;
                                color: #FFFFFF;
                                font-family: "Montserrat-Regular";
                                font-size: 15px;
                                &:focus-visible{
                                    border: none;
                                    outline: none;
                                    border-bottom: 1px solid #04BEFE;
                                    border-right: 1px solid #04BEFE;
                                    border-top: none;
                                    border-left: none;
                                }
                            }
                        }

                        &.submit{
                            justify-content: end;
                        }
                        .form-submit{
                            text-align: end;
                            button{
                                margin-top: 34px;
                                width: 190px;
                                height: 45px;
                                padding: 9px 67px;
                                border-radius: 22.5px;
                                background: #FB6720;
                                font-family: "OpenSans-Bold";
                                font-size: 18px;
                                color: #FFFFFF;
                                border: none;
                                cursor: pointer;
                            }
                        }
                    }
                    .more{
                        .horario{
                            display: flex;
                            .icono{
                                margin-top: 5.5px;
                            }
                            .content{
                                margin-left: 26px;
                                width: 334px;
                                height: 45px;
                                h6{
                                    font-family: "OpenSans-Regular";
                                    font-size: 16px;
                                    color: #FFFFFF;
                                }
                                p{
                                    font-family: "OpenSans-Bold";
                                    font-size: 16px;
                                    color: #FFFFFF;
                                }
                            }
                        }
                        .direccion{
                            display: flex;
                            margin-top: 25px;
                            .icono{
                                margin-top: 5.5px;
                            }
                            .content{
                                margin-left: 26px;
                                width: 334px;
                                height: 45px;
                                h6{
                                    font-family: "OpenSans-Regular";
                                    font-size: 16px;
                                    color: #FFFFFF;
                                }
                                p{
                                    font-family: "OpenSans-Bold";
                                    font-size: 16px;
                                    color: #FFFFFF;
                                }
                            }
                        }
                    }
                }
                .imagen{
                    max-width: 41%;
                    text-align: end;
                    width: 100%;
                    margin-left: 55.5px;
                    .complemento{
                        position: relative;
                        z-index: 2;
                    }
                    .figura3{
                        width: 119px !important;
                        height: 117px !important;
                        position: absolute;
                        right: 20%;
                        margin-top: 44%;
                        z-index: 1;
                    }
                }
            }
            .end{
                p{
                    width: 629px;
                    height: 48px;
                    margin-top: 80px;
                    margin-left: auto;
                    margin-right: auto;
                    font-family: "Montserrat-Regular";
                    font-size: 10px;
                    text-align: center;
                    color: #FFFFFF;
                }
            }
        }
    }
}
@media (min-width: 1900px){
    #contacto{
        .holder{
            .container-fluid{
                .row{
                    .imagen{
                        .figura3{
                            width: 119px !important;
                            height: 117px !important;
                            position: absolute;
                            right: 30%;
                            margin-top: 33%;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 767px){
    #contacto{
        height: 1506px;
        padding: 119px 0 88px 0;
        background-image: none;
        background-image: radial-gradient(#2B5876, #080B67) ;
        .holder{
            padding: 0 30px;
            .container-fluid{
                h4{
                    width: 100%;
                    height: 90px;
                    font-size: 30px;
                    margin-bottom: 64px;
                }
                .row{
                    display: block;
                    .form{
                        width: 100%;
                        .row-form{
                            display: block;
                            .form-control-custom{
                                &:first-child{
                                    margin-left: 0px;
                                }
                                margin-right: 0px;
                                margin-left: 0px;
                                margin-top: 20.5px;
                                margin-bottom: 20.5px;
                                input{
                                    width: 100%;
                                }
                                textarea{
                                    width: 100%;
                                }
                            }
    
                            &.submit{
                                justify-content: end;
                            }
                            .form-submit{
                                text-align: end;
                                button{
                                    margin-top: 59px;
                                }
                            }
                        }
                        .more{
                            margin-top: 124px;
                        }
                    }
                    .imagen{
                        display: none;
                    }
                }
                .end{
                    p{
                        width: 100%;
                        height: 60px;        
                        font-size: 8px;
                    }
                }
            }
        }
    }
}