#footer{
    height: 174px;
    background: #051B3C;
    padding: 82px 0 36px 0;
    .holder{
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;
        .container-fluid{
            justify-content: space-between;
            display: flex;
            .text{
                p{
                    width: 147px;
                    height: 56px;
                    font-family: "OpenSans-Regular";
                    font-size: 10px;
                    color: #FFFFFF;
                }
            }
        }
    }
}
@media (max-width: 767px){
    #footer{
        height: 137px;
        background: #051B3C;
        padding: 58px 30px 31px 30px;
        .holder{
            max-width: 1300px;
            width: 100%;
            margin: 0 auto;
            .container-fluid{
                justify-content: space-between;
                display: flex;
                .text{
                    p{
                        width: 147px;
                        height: 56px;
                        font-family: "OpenSans-Regular";
                        font-size: 10px;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}