#tituloAC{
    position: relative;
    padding: 140px 0 48.5px 0;
    .holder{
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;
        .container-fluid{
            max-width: 439px;
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
            text-align: center;
            h2{
                font-family: "OpenSans-Bold";
                font-size: 35px;
                color: #172E52;
            }
        }
    }
}

@media (max-width: 767px){
    #tituloAC{
        padding: 94px 0 31px 0;
        .holder{
            padding: 0 30px;
            .container-fluid{
                padding: 0;
                h2{
                    font-size: 28px;
                }
            }
        }
    }    
}